[Unit]
Description=Run LXC container backup daily: %i

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=multi-user.target
